.Social {
  background-color: rgb(224, 223, 223);
  color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 3em;
  justify-content: center;
  padding: 20px;
  align-items: flex-start
}

.Social * {
  margin: 0 5px;
}

.Social p {
  margin: 0;
}

.Social a {
  color: grey;
}