.Game {
    background: #fafafa;
    width: 100%;
    max-width: 700px;
    border-radius: 1%;
    margin: 50px auto;
}

.Game-dice {
    min-height: 70px;
    padding-top: 30px;
    width: 100%;
}

button.Game-roll {
    background-color: #546e7a;
    color: white;
    border: 0;
    padding: 10px 20px;

    transition: background-color 0.5s;
}

button.Game-roll:hover {
    background-color: #01579b;
}

.Game-scores{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.Game-over {
    position: fixed;
    color:white;
    font-size:4em;
    display: flex; 
    align-items:center;
    justify-content:center;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); 
    z-index: 2; 
    flex-wrap: wrap;
}