.Hangman {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
.Hangman-list-description {
    display:block;
    width:100%;
}
.Hangman-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width:50%;
    justify-content: space-between;
    font-size: 20px
}